#

# Solved Exercise for functions

In [1]:
#Q1)

import datetime

def greet_with_time(name) :
    print("\nHello, " + name + "!")
    print("It is ", datetime.datetime.now())
    
print(greet_with_time("Abdul Rehman"))

Hello, Abdul Rehman!
It is  2024-11-28 19:04:05.789923
None

In [2]:
#Q2)

def calculate_average(num1, num2, num3) :
    Sum = num1 +num2 + num3
    average = Sum / 3
    return average

print("Average is:", calculate_average(20,40,10))

Average is: 23.333333333333332

In [2]:
#Q3)
def calculate_discount(price, discount_percentage=10):
    """
    Calculate the discounted price.

    Args:
    price (float): The original price of the item.
    discount_percentage (float, optional): The discount percentage. Defaults to 10.

    Returns:
    float: The price after applying the discount.
    """
    discount = price * (discount_percentage / 100)
    discounted_price = price - discount
    return discounted_price

# Example usage:
original_price = 100
print(calculate_discount(original_price))  # With default discount
print(calculate_discount(original_price, 20))  # With 20% discount

90.0
80.0

In [1]:
#Q4)

def print_info(name, age, city) :
    print(name.title(), "lives in", city.title())
    print("His age is", age)
    
print(print_info(age = 21, name = "Abdul Rehman", city = "Chakwal"))

Abdul Rehman lives in Chakwal
His age is 21
None

In [3]:
#Q5)

def find_max(*numbers) :
    Max = max(numbers)
    return Max

print("Max:", find_max(2,0,5,3,1,4,3,7,54,3,2,52,5,3,500))

Max: 500

In [4]:
#Q6)

def factorial(number) :
    result = 1
    if number > 0 :
        result = number * factorial(number - 1)
    return result

print("Factorial:", factorial(3))

Factorial: 6

In [5]:
#Q7)

def factorial(number) :
    result = 1
    if number > 0 :
        result = number * factorial(number - 1)
    return result

def apply_function(factorial, number_list) :
    result_list = []
    for number in number_list :
        result_list.append(factorial(number))
    return result_list

no_list = [1,2,3,4,5,6,7,8]
print("List:", no_list)
print("Factorial list:", apply_function(factorial, no_list))

List: [1, 2, 3, 4, 5, 6, 7, 8]
Factorial list: [1, 2, 6, 24, 120, 720, 5040, 40320]

In [6]:
#Q8)
number = int(input("Enter a number: "))
square_number = lambda number : number * number
print("Square:",square_number(number))

Enter a number:  20

Square: 400

In [7]:
#Q9)
def doubler(number) :
    return number * 2

def apply_function(factorial, number_list) :
    result_list = []
    for number in number_list :
        result_list.append(doubler(number))
    return result_list

no_list = [1,2,3,4,5,6,7,8,9]
print("List:", no_list)
print("Factorial list:", apply_function(doubler, no_list))

List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Factorial list: [2, 4, 6, 8, 10, 12, 14, 16, 18]

In [8]:
#Q10)

import time

def measure_time(funct) :
    def wrapper(limit):
        start_time = time.time()
        funct(limit)
        end_time = time.time()
        execution_time = end_time - start_time
        print("Execution Time:", execution_time)
    return wrapper
                
@measure_time
def fibonnaci_series(limit) :
        fibonnaci = 0
        number = 0
        next_number = 1
        i = 0
        while i < limit :
            fibonnaci = number + next_number
            next_number = number
            number = fibonnaci
            if(fibonnaci < limit) :
                print(fibonnaci)
            i = fibonnaci

limit = 150
fibonnaci_series(limit)

1
1
2
3
5
8
13
21
34
55
89
144
Execution Time: 0.0006530284881591797